/* Responsividade para diferentes tamanhos de tela */
@media (max-width: 1200px) {
    #events-container .card {
        flex: 1 1 calc(25% - 1%); /* 4 cards por linha em telas menores */
        max-width: calc(25% - 1%);
    }
}

@media (max-width: 1100px) {
    #events-container .card {
        flex: 1 1 calc(33.33% - 1%); /* 3 cards por linha em telas menores */
        max-width: calc(33.33% - 1%);
    }
}

@media (max-width: 991px) {
    header, 
    header nav,
    header .navbar-expand-lg {
        display: block !important; 
        height: auto !important; 
    }

    #navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #121212;
        padding: 10px 0;
        height: auto !important; 
    }


    #navbar .navbar-brand {
        margin-bottom: 0;
        margin-left: 25px;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #navbar ul li {
        margin: 0 10px;
    }

    #navbar ul li a {
        
        color: white; 
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    #events-container .card {
        flex: 1 1 calc(50% - 1%); /* 2 cards por linha em telas menores */
        max-width: calc(50% - 1%);
    }
}

@media (max-width: 576px) {
    #events-container .card {
        flex: 1 1 100%; /* 1 card por linha em telas menores */
        margin-top: 10px;
        max-width: 100%;
    }
}
