/* General */
* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  background: linear-gradient(90deg, #1f1f1f, #1f1f1f);
  color: #e0e0e0;
  margin: 0;
  position: relative;
}

header {
  color: #ff0000;
  text-align: center;
  border-bottom: 1px solid rgb(255, 0, 0);
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn.btn-primary {
  background-color: #ff0000; 
  border-radius: 10px;
  border: none;
  color: #ffffff;
  transition: background 0.3s ease;
}

.btn.btn-primary:hover {
  background: linear-gradient(90deg, #000000, #000000);
}

.msg {
  background-color: #2b2b2b;
  color: #ff0000;
  border: 1px solid #ff0000;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

#info-container .already-joined-msg{
  margin: 15px 0;
  background-color: #ff0000;
  border: 1px solid #cebbbb;
  border-radius: 6px;
  padding: 10px;
  width: 230px;
}

#info-container .already-joined-msg:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

/* navbar */
#navbar img {
  width: 40px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  padding: 10px 20px;
}

#navbar .navbar-brand {
  margin-left: 20px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

#navbar ul li {
  margin: 0 25px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#navbar a:hover {
  color: #ff0000;
}

/* Search Container */
#search-container {
  background-image: url("../img/teste4x4.jpg");
  background-size: cover;
  background-position: center;
  height: 410px;
  margin-top: 50px;
  padding: 50px;
  text-align: center;
  color: #ffffff;
}

#search-container h1 {
  color: #ffffff;
  margin-bottom: 50px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#search-container form {
  width: 35%;
  padding-left: 45px;
  margin: 0 auto;
}

#search-container input {
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  border: none;
  padding: 15px;
  padding-right: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transition: background 0.3s ease;
}

#search-container input::placeholder {
  color: #ffffff;
}

#search-container input:focus {
  background-color: rgba(255, 255, 255, 0.4);
}


/* Events list */
#events-container {
  padding: 50px;
  text-align: center;
  background-color: #1f1f1f;
}

#events-container p {
  color: #ffffff;
}


#events-container h2 {
  margin-bottom: 10px;
  color: #ff0000;
}


#events-container .subtitle {
  color: #ffffff;
  margin-bottom: 30px;
}

#cards-container {
  display: flex;
}

#cards-container p{
  color: #ffffff;
}

#events-container .card {
  flex: 1 1 calc(25% - 1%);
  max-width: calc(25% - 1%);
  border-radius: 10px;
  padding: 10px;
  margin: 0.5%;
  background-color: #2b2b2b;
  color: #ff0000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

#events-container .card:hover {
  transform: translateY(-5px);
  box-shadow:  1px 1px 1px 3px  rgba(255, 0, 0, 0.3);
}

#events-container .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 15px;
  color: #ffffff;
  margin-top: 10px;
}

.card .card-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}

.card button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.card button:hover {
  background: linear-gradient(90deg, #000000, #ffffff);
}

.card-participants {
  font-size: 16px;
  color: #ffffff;
}

/* event create page */
#event-create-container {
  padding: 30px;
  background-color: #121212;
}

#event-create-container {
  color: #ffffff;
  box-shadow:  1px 1px 1px 3px  rgba(255, 0, 0, 0.3);
  border-radius: 20px;
}

#event-create-container label {
  color: #ffffff;
}

#event-create-container input::placeholder {
  color: rgb(255, 255, 255);
}

#event-create-container textarea::placeholder {
  color: #ffffff;
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
  background-color: #2b2b2b;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
}

#event-create-container input[type="submit"] {
  font-size: 15px; 
  padding: 15px 30px; 
  margin-bottom: 20px; 
  border: 1px solid #ffffff;
}

#event-create-container input[type="file"]::-webkit-file-upload-button  {
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

/* Event page */
#image-container,
#info-container {
  margin-top: 40px;
}

#image-container img {
    width: 700px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
  }


#info-container h1 {
  font-size: 36px;
  font-weight: 900;
  color: #ff0000;
}

#info-container p {
  margin: 0;
  font-size: 16px;
  display: flex;
  margin-top: 8px;
  color: #ffffff;
}

#info-container p ion-icon {
  margin-right: 12px;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}

#description-container {
  margin-top: 30px;
  word-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  width: 45%;  
}

#description-container p {
  color: #ffffff;
}

#info-container ion-icon {
  font-size: 22px;
  color: #ff0000;
}

#info-container #event-submit {
  margin: 20px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
}

#items-list li {
  display: flex;
  margin-top: 5px;
  color: #ffffff;
}

#items-list li ion-icon {
  margin-right: 10px;
  color: #ff0000;
}

/* dashboard page */

.dashboard-title-container {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.dashboard-title-container h1 {
    margin-top: 10px;
    padding-top: 20px;
}

.dashboard-events-container th {
    width: 25%;
    border-width: 2px;
}

.dashboard-events-container tr th {
  color: white;
}

.dashboard-events-container form {
  display: inline-block;
}

.dashboard-events-container p {
    color: #ffffff;
}

.dashboard-events-container p a {
  color: #ff0000;
  text-decoration:none;
  font-weight: bold;
}

.dashboard-events-container tr td a {
  text-decoration: none;
  color: #ffffff;
}

.dashboard-events-container tr td {
  border-width: 2px;
}

.dashboard-events-container tr td button ion-icon{
    font-size: 16px;
    
}

.custom-mid {
  text-align: center;
    vertical-align: middle;
}

table.custom-table {
  background-color:#121212 !important;
  border: 2px solid rgba(255, 0, 0, 0.3); 
  border-collapse: collapse;
  border-color: rgba(255, 0, 0, 0.3);
}

table.custom-table th,
table.custom-table td {
  background-color:#121212 !important;
  color: #ffffff;
}


/*edit page*/
.img-preview {
  width: 220px;
  margin-left: 20%;
}


/*contact page*/ 
.contact-container {
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.contact-header h1 {
  font-size: 3em;
  color: #ffd700;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.contact-info, .contact-form {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.contact-info {
  text-align: left;
}

.contact-info h2 {
  font-size: 1.5em;
  color: #ffd700;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1em;
  margin: 10px 0;
  color: #ccc;
}

.contact-info ion-icon {
  margin-right: 10px;
  vertical-align: middle;
  color: #ffd700;
}

.contact-info a {
  color: #ffd700;
  text-decoration: none;
}

.contact-form {
  text-align: left;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1em;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form .terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-form .terms input {
  margin-right: 10px;
}

.contact-form button {
  background-color: #ff0000;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #e60000;
}



/* footer */
footer {
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(255, 0, 0);
}

footer p {
  margin-bottom: 0;
}


/* view loading */
.loading-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 12px solid #000000;
  border-top: 12px solid #ff0000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}